:root {
  --main-font-family: Verdana;
  --main-theme-color: #8a2be2;
}

body {
  font-family: var(--main-font-family);
}

.swatches-container div {
  display: inline-block;
  width: 20px; 
  height: 20px;
  margin: 5px;
  cursor: pointer;
}

.top-heading-text {
  color: var(--main-theme-color);
}

.content-container {
  background-color: var(--main-theme-color);
  padding: 20px;
  color: #ffffff;
  line-height: 2;
}

.info-text {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #ffffff;
}

.footer-text {
  font-size: 0.8em;
  text-align: center;
}
